# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# Java
target/
*.class

# Environment
.env

# AI Models
*.h5
*.keras
*.pkl

# Dataset
dataset/

# IDE
.idea/
.vscode/

# Spring Boot
backend/target/
*.class

# IntelliJ
.idea/
*.iml

# PostgreSQL credentials
application.properties